* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;

  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head {
  display: flex;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3%;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-family: serif;
  color: #fffbeb;
  font-size: 25px;
  margin: 0 25px 0;
}

nav a:hover {
  color: #e5e5cb;
}

.button {
  background: #f8cba6;
  font-family: serif;
  font-size: 30px;
  color: black;

  border-radius: 30px;
  padding: 10px 30px;
}

.content {
  text-align: center;
  margin-top: 10%;
  color: #fffbeb;
}
.content h1 {
  font-size: 64px;
}

.content p {
  font-size: 36px;
  color: e5e5cb;
  width: 30%;
  margin: auto;
}
/* 
.Coffees {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Coffees div {
  background-color: #fffbeb;
  padding-left: 3%;
}

.Coffees div img {
  width: 100px;
  height: 150px;
} */
